<div class="form-card">
  <div class="input-wrapper">
    <ion-icon name="create-outline" class="input-icon"></ion-icon>

    <ion-input
      class="form-input"
      placeholder="Escribe una tarea"
      [(ngModel)]="newTitle"
      (keyup.enter)="submit()">
    </ion-input>
  </div>

  <div class="priority-wrapper">
    <ion-select
      class="priority-select"
      [(ngModel)]="priority"
      interface="popover"
      placeholder="Prioridad">
      <ion-select-option value="low">Low</ion-select-option>
      <ion-select-option value="medium">Medium</ion-select-option>
      <ion-select-option value="high">High</ion-select-option>
    </ion-select>
    
    <ion-select
      class="priority-select"
      [(ngModel)]="categoryId"
      interface="popover"
      placeholder="Categoría">
      <ion-select-option [value]="undefined">Ninguna</ion-select-option>
      <ion-select-option *ngFor="let category of categories$ | async" [value]="category.id">
        {{ category.name }}
      </ion-select-option>
    </ion-select>
  </div>

  <ion-button
    class="submit-btn"
    [disabled]="!newTitle.trim()"
    (click)="submit()">
    <ion-icon slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>
</div>