<div class="item-card" [class.is-completed]="task.completed" (click)="onToggle()">
  <div class="checkbox-wrapper">
    <div class="custom-checkbox" [class.checked]="task.completed">
      <ion-icon *ngIf="task.completed" name="checkmark-outline" class="check-icon"></ion-icon>
    </div>
  </div>

  <div class="task-content">
    <span class="task-title" [class.completed]="task.completed">
      {{ task.title }}
    </span>

    <div class="meta-row">
      <span class="priority" [class]="'priority ' + task.priority">
        {{ task.priority === 'low' ? 'Baja' : task.priority === 'medium' ? 'Media' : 'Alta' }}
      </span>

      <ng-container *ngIf="getCategory((categories$ | async), task.categoryId) as category">
        <ion-badge [color]="category.color" class="category-badge">
          {{ category.name }}
        </ion-badge>
      </ng-container>
    </div>
  </div>
  <ion-button fill="clear" color="danger" class="delete-btn" (click)="$event.stopPropagation(); onRemove()">
    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
  </ion-button>
</div>